.form-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    width: 20rem;
}

.input-field::placeholder {
    text-align: center;
}
    
.botao-auth {
    border-radius: 30px;
    color: #fff;
    width: 8rem;
    padding: 1.5rem;
    font-size: 1rem;
    border: solid 2px black;
    font-weight: bold;
}

.botao-auth:hover {
    transition: 0.2s ease-out;
    color: #000;
}