.imagem-auth {
    background-image: url(/images/img-login.png);
    background-position: center;
    background-size: cover;
    border-radius: 0px 0px 50% 0px / 0px 0px 100% 0px;
    box-shadow: inset 12px 12px 20px #000000,
        inset -12px -12px 12px -4px #000000;
    border: solid 8px black;
}